
.item {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin: 15px;
    width: 70%;
    border: solid black;
    justify-content: space-around;
}

.itemInfo2{
    display: flex;
}

#viewItem{
    align-self: flex-end;
    color: black;
    text-decoration: none;
    margin: 10px;
}


