
.item {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 70%;
    border: solid black;
    padding: 5px;
}


.itemInfo2 a{
    align-self: flex-end;
    background-color: red;
    text-decoration: none;
}

.itemInfo2 input{
    background-color: #ff7c42;
}

.itemInfo2 h1{

}

.itemPicture {
    width: 20%;
    height: 100%;
}

.itemPicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemInfo{
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

.itemInfo2{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}



