
.item {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin: 15px;
    width: 70%;
    border: solid black;
}


#viewItem{
    align-self: flex-end;
    color: black;
    text-decoration: none;
    margin: 10px;
}

.itemPicture {
    display: flex;
    max-height: 100px;
}

.itemPicture img {
    max-width: 100px;
}

