{% extends 'headers/base_header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/paymentStyle.css'  %}"/>

<h1>Payment</h1>
<div class="paymentDiv">

</div>

<div class="container d-lg-flex">
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold">Contact info</p>
                <p class="dis mb-3">Enter yor contact information here:</p>
            </div>
            <form class="form form-horizontal" method="post">
                {% csrf_token %}
                {{ form }}

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Name:</p>
                    <input class="form-control" type="name">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Address:</p>
                    <input class="form-control" type="address">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">City:</p>
                    <input class="form-control" type="city">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Country:</p>
                    <input class="form-control" type="country">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Postal code:</p>
                    <input class="form-control" type="postalCode">
                </div>
            </form>
        </div>
    </div>
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold">Payment Details</p>
                <p class="dis mb-3">Complete your purchase by providing your payment details</p>
            </div>
            <form action="">
                <div>
                    <p class="dis fw-bold mb-2">Card details</p>
                    <div class="d-flex align-items-center justify-content-between card-atm border rounded">
                        <div class="fab fa-cc-visa ps-3"></div>
                        <input type="text" class="form-control" placeholder="Card Details">
                        <div class="d-flex w-50">
                            <input type="text" class="form-control px-0" placeholder="MM/YY">
                            <input type="password" maxlength=3 class="form-control px-0" placeholder="CVV">
                        </div>
                    </div>
                    <div class="my-3 cardname">
                        <p class="dis fw-bold mb-2">Cardholder name</p>
                        <input class="form-control" type="text">
                    </div>

                        <div class="d-flex flex-column dis">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p class="fw-bold">Total</p>
                                <p class="fw-bold"><span class="fas fa-dollar-sign"></span>35.80 </p>
                            </div>
                            <a class="btn btn-primary mt-2" href="{% url 'reviewPayment' %}">Save and Review</a>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}