{% extends 'headers/base_header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/paymentStyle.css'  %}"/>

<h1>Review order</h1>
<div class="paymentDiv">

</div>
<div class="container d-lg-flex">
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold">Contact info</p>
                <p class="dis mb-3">Enter yor contact information here:</p>
            </div>
            <form action="">
                <div class="mb-3">
                    <label for="name" class="dis fw-bold mb-2" >User: </label>
                    <p id="name" class="form-control" type="name">{{ payment.user }}</p>
                </div>

                <div class="mb-3">
                    <label for="address" class="dis fw-bold mb-2" >Address: </label>
                    <p id="address" class="form-control" type="address">{{ payment.address }}</p>
                </div>

                <div class="mb-3">
                    <label for="city" class="dis fw-bold mb-2" >City: </label>
                    <p id="city" class="form-control" type="city">{{ payment.city }}</p>
                </div>

                <div class="mb-3">
                    <label for="country" class="dis fw-bold mb-2" >Country: </label>
                    <p id="country" class="form-control" type="country">{{ payment.country }}</p>
                </div>

                <div class="mb-3">
                    <label for="country" class="dis fw-bold mb-2" >Postal code: </label>
                    <p id="postalCode" class="form-control" type="postalCode">{{ payment.postalCode }}</p>
                </div>
            </form>
        </div>
    </div>
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold">Review details and comfirm</p>
            </div>
            <div class="cardDetails">
                <p class="dis fw-bold mb-2">Card details</p>
                <div class="d-flex align-items-center justify-content-between card-atm border rounded">
                    <div class="fab fa-cc-visa ps-3"></div>

                    <p id="cardDetails" type="text" class="form-control" placeholder="Card Details"> {{ payment.cardNumber }}</p>

                    <div class="d-flex w-50">
                        <p type="text" class="form-control px-0" placeholder="MM/YY">{{ payment.cardMonth }}/{{ payment.cardYear }}</p>
                        <p type="password" maxlength=3 class="form-control px-0" placeholder="CVV">{{ payment.cardCvv }}</p>
                    </div>
                </div>
                <div class="my-3 cardname">
                    <label for="cardName" class="dis fw-bold mb-2">Cardholder name</label>
                    <p id="cardName" class="form-control" type="text">{{ payment.cardholderName }}</p>
                </div>

                    <div class="d-flex flex-column dis">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <label for="totalPrice" class="fw-bold">Total</label>
                            <p id="totalPrice" class="fw-bold"><span class="fas fa-dollar-sign"></span>{{ payment.bid.amount }}$</p>
                        </div>

                        <a class="btn btn-primary mt-2" href="{% url 'deletePaidListing' payment.bid.item_id %}" >Confirm and pay</a>

                        <a class="btn btn-primary mt-2" href="{% url 'insertPaymentInfo' payment.bid.id%}">Back
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}