{% extends 'headers/base_header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/rateSellerStyle.css'  %}"/>
<div class="container">
<form>
    <h2>Review Seller</h2>
    <input type="radio" id="review" name="seller review" value="1 star">
    <label for="review">
        <i class="fa-solid fa-star"></i>
    </label><br>
    <input type="radio" id="review" name="seller review" value="2 star">
    <label for="review">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </label><br>
    <input type="radio" id="review" name="seller review" value="3 star">
    <label for="review">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </label><br>
    <input type="radio" id="review" name="seller review" value="4 star">
    <label for="review">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </label><br>
    <input type="radio" id="review" name="seller review" value="5 star">
    <label for="review">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </label><br>

    <input type="submit" value="send!">
</form>
</div>
{% endblock %}