<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Sale</title>
</head>
<body>
    <header>
        <img class= "logo" src="" alt="logo">
        <nav>
            <ul class="navLinks">
                <li><a href="#">Browse Products</a> </li>
                <li><a href="#">Sell Product</a> </li>
                <li><a href="#">Notifications</a> </li>
            </ul>
        </nav>
        <div class="dropdown">
            <button class="dropBtn">Menu</button>
            <div class="dropdown-content">
              <a href="#">My Profile</a>
              <a href="#">My Listings</a>
              <a href="#">My Bids</a>
              <a href="#">Log Out</a>
            </div>
        </div>

    </header>

</body>
</html>