{% extends 'headers/base_header.html' %}
{% block content %}<section class="vh-100" style="background-color: #f4f5f7;">
      <div class="container py-5 h-100">
            <div class="card mb-3" style="border-radius: .5rem;">
                <form class="form form-horizontal" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary" value="Save" style="clear:both; margin: 10px ">
                </form>
            </div>
      </div>
    </section>
{% endblock %}
