{% extends 'headers/base_header.html' %}
{% load static %}
{% block content %}
    <section class="vh-100">
    <link rel="stylesheet" href="{% static 'css/profileStyle.css' %}"/>
      <div class="container py-5 h-100">
            <div class="card mb-3">
                <form class="form form-horizontal" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary" value="Save" style="clear:both; margin: 10px ">
                </form>
            </div>
      </div>
    </section>
{% endblock %}
