{% extends 'headers/login_header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/registerStyle.css'  %}"/>


<h1>Login</h1>
<div class="registerDiv">

</div>

<div class="container d-lg-flex">
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold">Login</p>
                <p class="dis mb-3">Enter your login information here:</p>
            </div>

            <form action="log-in" method="post">
                <div class="mb-3">
                        <p class="dis fw-bold mb-2">Email:</p>
                        <input class="form-control" for="log-in" type="email" value="{{ current_email }}">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Password:</p>
                    <input class="form-control" for="log-in" type="password" value="{{ current_password }}">
                </div>

                <input class="btn btn-primary mt-2" type="submit" value="Log in">

            </form>
        </div>
    </div>
</div>

{% endblock %}