{% extends 'headers/login_header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/registerStyle.css'  %}"/>


<h1>Login</h1>

<div class="container d-lg-flex">
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold">Login</p>
                <p class="dis mb-3">Enter your login information here:</p>
            </div>

            <form class="container" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Log in" class="btn btn-primary mt-2" style="clear:both; margin: 10px 0"/>
            </form>

        </div>
        <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
    </div>
</div>

{% endblock %}