{% extends 'headers/login_header.html' %}
{% load static %}
{% block content %}
    <div class="loginContainer">
        <label for="uname"><b>Username:</b></label>
        <input type="text" id="uname" required>
        <label for="pword"><b>Password:</b></label>
        <input type="password" id="pword" required>
        <button type="submit">Login</button>
    </div>
    <div class="registerAccount">
        <span class="register"><a href="">Register</a></span>
    </div>
    <div class="register">
        <span class="reg"><a href="{% url 'register' %}">Register</a></span>
    </div>
{% endblock %}