{% load static %}
<link rel="stylesheet" href="{% static 'css/ItemStyle.css' %}"/>
    <div class="item">
        <div class="itemPicture"> <img src="{{ bid.img }}" alt="itemPic"></div>
        <div class="itemInfo">
            <label for="productName">Product:</label>
            <p id="productName">{{ bid.productName }}</p>
            <label for="sellerName">Seller name:</label>
            <p id="sellerName">{{ bid.seller }}</p>
            <label class="sellerLocation">Location:</label>
            <p id="sellerLocation">{{ bid.location }}</p>
        </div>
        <div class="itemInfo2">
            <label for="bidAmount"></label>
            <p id="bidAmount">{{ bid.amount }}$</p>
            <button>View product details</button>
        </div>
    </div>