{% extends '' %}

{% for info in item_info %}
{% load static %}
{% block items %}
<link rel="stylesheet" href="{% static 'css/ItemStyle.css' %}"/>
    <div class="item">
        <div class="itemPicture"> <img src="{{ info.img }}" alt="itemPic"></div>
        <div class="itemInfo">
            <h3 class="productName">Product: {{ info.productName }}</h3>
            <h6 class="sellerName">Seller name: {{ info.seller }}</h6>
            <h6 class="sellerLocation">Location: {{ info.location }}</h6>
        </div>
        <div class="itemInfo2">
            <h1 class="listingPrice">{{ info.price }} kr.</h1>
            <button>View product details</button>
        </div>
    </div>
{% endblock %}
{% endfor %}