{% load static %}
<link rel="stylesheet" href="{% static 'css/ItemStyle.css' %}"/>
    <div class="item">
        <div class="itemPicture">
            <img src="{{ info.itemimage_set.first.img }}" alt="itemPic">
        </div>
        <div class="itemInfo">
            <label class="productName" for="productName">Product:</label>
            <p id="productName">{{ info.item_name }}</p>
            <label class="sellerName" for="productName">Seller name:</label>
            <p id="sellerName">{{ info.user }}</p>
            <label class="sellerLocation" for="productName">Location:</label>
            <p id="sellerLocation">{{ info.location }}</p>
        </div>
        <div class="itemInfo2">
            <h1 class="listingPrice">{{ info.price }}$</h1>
            <a href="/store/{{ info.id }}" >
                <input type="button" id="viewItem" value="View item details">
            </a>
            <a href="{% url 'deleteListing' info.id %}" >
                <input type="button" id="deleteListing" value="Delete listing">
            </a>
        </div>
    </div>

