{% load static %}
<link rel="stylesheet" href="{% static 'css/notificationOffers.css' %}"/>
    <div class="item">
        <div class="bidUserInfo">
            <label for="bidder">Bidder:</label>
            <p id="bidder">{{ bid.user }}</p>
        </div>
        <div class="itemInfo">
            <label for="bidAmount">Offer amount:</label>
            <p id="bidAmount">{{ bid.amount }}$</p>
        </div>
        <div class="product">
            <label for="itemName">Listing:</label>
            <p id="itemName">{{ bid.item.item_name }}</p>
        </div>

    </div>