{% extends 'headers/login_header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/registerStyle.css'  %}"/>

<h1>Register</h1>
<div class="registerDiv">

</div>

<div class="container">
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold">Contact info</p>
                <p class="dis mb-3">Enter yor contact information here:</p>
            </div>
            <form class="container" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Username:</p>
                    <input class="form-control" type="name">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Email:</p>
                    <input class="form-control" type="email">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Password:</p>
                    <input class="form-control" type="password">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Phone number:</p>
                    <input class="form-control" type="phonenumber">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Address:</p>
                    <input class="form-control" type="address">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Postal code:</p>
                    <input class="form-control" type="postalCode">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Date of birth:</p>
                    <input class="form-control" type="date">
                </div>

                <input class="btn btn-primary mt-2" type="submit" value="Register">

            </form>
        </div>
    </div>
</div>

{% endblock %}


