{% extends 'headers/login_header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/registerStyle.css'  %}"/>

<h1>Register</h1>
<div class="registerDiv">

</div>

<div class="container">
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold">Contact info</p>
                <p class="dis mb-3">Enter yor contact information here:</p>
            </div>

            <form class="form form-horizontal" method="POST">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-primary" type="submit" value="register" >
            </form>

        </div>
        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Back to log in</a>
    </div>
</div>

{% endblock %}


