{% extends 'headers/base_header.html' %}
{% block content %}
    <body>
        <div class="fullItemView">
            <div class="itempicture"> <img src="" alt=""></div>
            <div class="offerDetails">
                <h3 class="highestOffer">Current Highest offer: </h3>
                <form action="/action_page.php">
                    <label for="bid">Enter offer: </label>
                    <input type="text" id="price"><br><br>
                    <input type="submit" value="Send my offer">
                </form>
            </div>
            <div class="itemDetails">
                <label for="productName">Product name: </label>
                <p id="productName">{{ detail.item_name }}</p>
                <label for="seller">Seller:  </label>
                <p id="seller">{{ detail.user }}</p>
                <label for="condition">Condition:   </label>
                <p id="condition">{{ detail.condition }}</p>
                <label for="highestOffer">Highest offer:   </label>
                <p id="highestOffer"></p>
                <label for="location">Location:   </label>
                <p id="location">{{ detail.location }}</p>
                <label for="sellersPrice">Sellers price:   </label>
                <p id="sellersPrice">{{ detail.price }}</p>
            </div>
            <div class="productDescription">
                <label for="description">Product description</label>
                <div class="txtBox">{{ detail.description }}</div>
            </div>
        </div>
        <h1>Related searches: </h1>
        <div class="relatedSearches">
            {% for info in items %}
            {% include 'store/product/browsingItem.html' with info=info%}
            {% endfor %}
        </div>
    </body>
{% endblock %}