<!--Take a look at this later -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="fullItemView">
        <div class="itempicture"> <img src="" alt=""></div>
        <div class="offerDetails">
            <h3 class="highestOffer">Current Highest offer: </h3>
            <form action="/action_page.php">
                <label for="bid">Enter offer: </label>
                <input type="text" id="price"><br><br>
                <input type="submit" value="Send my offer">
            </form>
        </div>
        <div class="itemDetails">
            <p class="productName">product name: </p>
            <p class="seller">seller:  </p>
            <p class="condition">condition:   </p>
            <p class="highestOffer">highest offer:   </p>
            <p class="location">location:   </p>
            <p class="sellersPrice">Sellers price:   </p>
        </div>
        <div class="productDescription">
            <p>Product description</p>
            <div class="txtBox"></div>
        </div>
    </div>
    <div class="relatedSearches">
        <h3>here we will append related products: </h3>
        <p>related product...... </p>
        <p>related product...... </p>
        <p>related product...... </p>
        <p>related product...... </p>
        <p>related product...... </p>
        <p>related product...... </p>
        <p>related product...... </p>
        <p>related product...... </p>
    </div>
</body>
</html>