{% extends 'headers/base_header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/registerStyle.css'  %}"/>

<h1>Sell product</h1>
<div class="registerDiv">

</div>

<div class="container">
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold">Product information</p>
                <p class="dis mb-3">Enter your product information here:</p>
            </div>
            <form action="">
                <div class="mb-3">
                    <p class="dis fw-bold mb-2">name:</p>
                    <input class="form-control" type="name">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">price:</p>
                    <input class="form-control" type="price">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">condition:</p>
                    <input class="form-control" type="condition">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Description:</p>
                    <input class="form-control" type="description">
                </div>

                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Location:</p>
                    <input class="form-control" type="location">
                </div>

                <div class="btn btn-primary mt-2">Add image</div>
            </form>
        </div>
    </div>
    <div class="btn btn-primary mt-2">Post</div>
</div>

{% endblock %}



